Package: konttiraspi-sahkomittari-client                                                             
Version: 0.02                                                                                            
Section: misc                                                                                            
Priority: optional                                                                                       
Architecture: all
Depends: konttiraspi-system | python3-websocket
Maintainer: Jani Janttari <janttari@yandex.ru>
Description:
 -
