Package: konttiraspi-system                                                             
Version: 0.02                                                                                            
Section: misc                                                                                            
Priority: optional                                                                                       
Architecture: all
Depends:
Maintainer: Jani Janttari <janttari@yandex.ru>
Description:
 -
